
.lm_content {
    background: white;
    border: 1px solid #ccc;
    overflow: auto;
}


#main {
    /* background-image:  url("../img/town.jpg"); /* Добавляем фон */
    /*background-color: #2e6da4;*/

    background-color:#ffffff;
    background-size: cover;

    color: black;
    /*background-color: #000000; /* Чёрный фон */
    height: 100%; /* Высота максимальна */
    left: 0; /* Нулевой отступ слева */
    /*opacity: 0.6; /* Степень прозрачности */
    position: fixed; /* Фиксированное положение */
    top: 0; /* Нулевой отступ сверху */
    width: 100%; /* Ширина максимальна */
    /*z-index: 100; /* Заведомо быть НАД другими элементами */
    display: block;
    margin: 0 auto 0 auto;
}

.rep{
    fill: #ffffff;
    /*stroke: #ffffff;*/
    /*stroke-width: 2px;*/
}

.op{
    fill: #ffffff;
    /*stroke: #ffffff;*/
    /*stroke-width: 2px;*/
}

.op_clicked{
    fill: #fffaaa;
}

.link{
    stroke: #508aba;
    stroke-width: 1px;
}
.arrowHead {
    fill: #508aba;
}

::-ms-clear { display: none; }

.tooltip {
    position: relative;
    display: inline-block;
}
/* Tooltip text */
.tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: #555;
    color: #fff;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;

    /* Position the tooltip text */
    position: absolute;
    z-index: 1;
    bottom: -200%;
    left: 20%;
    margin-left: -60px;

    /* Fade in tooltip */
    opacity: 0;
    transition: opacity 1s;
}

/* Tooltip arrow */
.tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    /*border-style: solid;*/
    border-color: #555 transparent transparent transparent;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
}
.new_year_ban {
    background-image:  url("../img/cap.png"); /* Добавляем фон */
    background-size: cover;
}
.drag_area
{
background-color:  rgb(84, 110, 122)
}




