
<svg
width="24"
   height="24"
   viewBox="0 0 6.3499999 6.3500002"
>
<g
     inkscape:label="Layer 1"
     inkscape:groupmode="layer"
     id="layer1"
     transform="translate(0,-290.64998)">
    <path
       style="fill:#000000;fill-opacity:0.99009902;stroke:#000000;stroke-width:0;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
       d="m 0.52916667,293.03123 v 1.5875 H 4.4979167 v -1.5875 z"
       id="path6697"
       inkscape:connector-curvature="0" />
    <path
       style="fill:#000000;fill-opacity:1;stroke:none;stroke-width:0.26458332px;stroke-linecap:butt;stroke-linejoin:miter;stroke-opacity:1"
       d="m 5.8208333,293.82498 -2.1166666,1.5875 v -3.175 z"
       id="path10"
       inkscape:connector-curvature="0"
       sodipodi:nodetypes="cccc" />
  </g>
</svg>

<img src="if.svg" style="fill:red;"><br/>
<img src="else.svg"><br/>
<img src="switch.svg"><br/>
<img src="switch.svg"><br/>
<img src="operation.svg"><br/>
<img src="parallel_or.svg"><br/>
<img src="parallel_and.svg"><br/>
<img src="call.svg"><br/>



